<nav class="navbar navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">
        <img src="/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Samuel Cea Portfolio
    </a>
    <div class="btn-group">
        <a class="raise btn nav-link btn-outline-info" href="/"><b>Resume</b></a>
        <a class="raise btn nav-link btn-outline-success" href="/projects"><b>Projects</b></a>
        <a class="raise btn nav-link btn-outline-danger" href="https://github.com/samo2105"><b>Github</b></a>
    </div>
</nav>