{{> head}}
{{> navbar }}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6 card p-3">
            <h2> Una rica tabla de sushini</h2>
            <p>
                Lorem ipsum amor asimet
            </p>
        </div>
        <div class="col-sm-6 card p-2">
            <img src="assets/images/tabla-80-piezas.jpg" class="img-thumbnail">
        </div>

    </div>
</div>

{{> footer }}