{{> head}}
{{> navbar }}
<div class="container">
    <p>
        <h1 class="text-center">
            Resume
            <a href="/download_cv" class="btn btn-outline-success p-2 float-right">Download</a>
        </h1>
    </p>
    <div class="row">
        <div class="col-sm-6 header">
            <div class="card profile">
                <img src="/assets/images/profile.png" class="img-thumbnail rounded">
            </div>
            <div class="personal">
                <h5>My self</h5>
                Im a very entusiatic person, i always look for the best part of the situations, i never give up. I like to sing and
                dance, play videogames, i love to read sci-fi and detective books (Lovecraft, Michael Crichton, Arthur conan Doyle),
                play table tennis, watch movies and be with my friends.
            </div>
            <br>
            <div class="profesional">
                <h5>Profesional</h5>
                I focus on my objectives, i always follow my dreams. Pasionate Full Stack Developer (Ruby on Rails - React - Node), i work with AWS,
                Heroku, React for front-end, Ruby and Javascript (Node) for back-end. I have a great capabilitie to learn new technologies, i like to
                work with code.
            </div>

        </div>
        <div class="col-sm-6">
            <div class="card">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum, ipsum at tincidunt fermentum, neque nisi sodales justo, sit amet ultricies justo dui vel ante. Nullam commodo faucibus ante dapibus euismod. Phasellus quis ipsum hendrerit, porta ligula ut, ultricies ligula. Mauris sagittis magna at quam gravida, vel malesuada velit malesuada. Phasellus at hendrerit elit, ultricies vehicula mi. Praesent in risus varius, ornare nisi sed, placerat magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam facilisis sagittis erat. Donec quis fermentum dolor. Fusce eu dolor rhoncus nisl ullamcorper viverra imperdiet a neque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla molestie facilisis leo, at ullamcorper ipsum placerat eu.
            Maecenas efficitur luctus eros. Maecenas id erat in orci elementum bibendum. Ut accumsan urna euismod sem imperdiet mollis. Phasellus tempor porttitor ullamcorper. Nunc diam nisl, vehicula id egestas et, blandit a nisi. Ut at lorem nisl. Mauris ac ex quam. In mi augue, rutrum non sollicitudin eget, pulvinar eget tellus. Etiam vel neque quis nisi euismod interdum. Nulla laoreet eros ac mattis sagittis. In a sodales diam. Morbi laoreet blandit libero eu rhoncus. Phasellus vitae purus id arcu luctus placerat a non sem.
            </div>
        </div>
    </div>
    <div class="experience mt-4 row">
        <div class="col-sm-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum, ipsum at tincidunt fermentum, neque nisi sodales justo, sit amet ultricies justo dui vel ante. Nullam commodo faucibus ante dapibus euismod. Phasellus quis ipsum hendrerit, porta ligula ut, ultricies ligula. Mauris sagittis magna at quam gravida, vel malesuada velit malesuada. Phasellus at hendrerit elit, ultricies vehicula mi. Praesent in risus varius, ornare nisi sed, placerat magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam facilisis sagittis erat. Donec quis fermentum dolor. Fusce eu dolor rhoncus nisl ullamcorper viverra imperdiet a neque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla molestie facilisis leo, at ullamcorper ipsum placerat eu.

            Maecenas efficitur luctus eros. Maecenas id erat in orci elementum bibendum. Ut accumsan urna euismod sem imperdiet mollis. Phasellus tempor porttitor ullamcorper. Nunc diam nisl, vehicula id egestas et, blandit a nisi. Ut at lorem nisl. Mauris ac ex quam. In mi augue, rutrum non sollicitudin eget, pulvinar eget tellus. Etiam vel neque quis nisi euismod interdum. Nulla laoreet eros ac mattis sagittis. In a sodales diam. Morbi laoreet blandit libero eu rhoncus. Phasellus vitae purus id arcu luctus placerat a non sem.
        </div>
        <div class="col-sm-8">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum, ipsum at tincidunt fermentum, neque nisi sodales justo, sit amet ultricies justo dui vel ante. Nullam commodo faucibus ante dapibus euismod. Phasellus quis ipsum hendrerit, porta ligula ut, ultricies ligula. Mauris sagittis magna at quam gravida, vel malesuada velit malesuada. Phasellus at hendrerit elit, ultricies vehicula mi. Praesent in risus varius, ornare nisi sed, placerat magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam facilisis sagittis erat. Donec quis fermentum dolor. Fusce eu dolor rhoncus nisl ullamcorper viverra imperdiet a neque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla molestie facilisis leo, at ullamcorper ipsum placerat eu.
            Maecenas efficitur luctus eros. Maecenas id erat in orci elementum bibendum. Ut accumsan urna euismod sem imperdiet mollis. Phasellus tempor porttitor ullamcorper. Nunc diam nisl, vehicula id egestas et, blandit a nisi. Ut at lorem nisl. Mauris ac ex quam. In mi augue, rutrum non sollicitudin eget, pulvinar eget tellus. Etiam vel neque quis nisi euismod interdum. Nulla laoreet eros ac mattis sagittis. In a sodales diam. Morbi laoreet blandit libero eu rhoncus. Phasellus vitae purus id arcu luctus placerat a non sem.
        </div>
    </div>
</div>

{{> footer }}
