{{> head}}
{{> navbar }}
<div class="container">
    <h1 class="text-center">Projects </h1>
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="assets/images/kitchain.png" class="card-img img-thumbnail img-fluid" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Kitchain ERP</h5>
                    <p class="card-text">Own project developed for Desafio Latam's final grade. An ERP for restaurant administration with tecnologies like AWS S3, Bootstrap, Rails 5.2.3, Ruby 2.6.3, Heroku.</p>
                    <button class="btn btn-light"><i class="fab fa-github-square"></i> Github</button>
                    <button class="btn btn-light" href="http://www.thekitchain.com/"><i class="fas fa-globe"></i>Page</button>
                    <p class="float-right" style="color: forestgreen; font-size: 20px">
                        <i class="fab fa-aws"></i>
                        <i class="fab fa-html5"></i>
                        <i class="fab fa-css3-alt"></i>
                        <i class="fab fa-js"></i>
                        <i class="fas fa-gem"></i>
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated october 2019</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="assets/images/sushi2.jpg" class="card-img img-thumbnail img-fluid" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <button class="btn btn-light"><i class="fab fa-github-square"></i> Github</button>
                    <button class="btn btn-light"><i class="fas fa-globe"></i>Page</button>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="assets/images/sushi2.jpg" class="card-img img-thumbnail img-fluid" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <button class="btn btn-light"><i class="fab fa-github-square"></i> Github</button>
                    <button class="btn btn-light"><i class="fas fa-globe"></i>Page</button>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer }}